body {
    height: 100px;
}
input {
    width: 300px;
    height: 40px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: larger;
}
button {
    width: 100px;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
}
ol {
    margin-left: 15px;
}
ol li {
    font-size: 30px;
    background-color: antiquewhite;
    list-style-type: none;
}