body{
    background-color: lightblue;
    background-image: url("/MQ.jpg");
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    border-image: 10px;
    background-attachment: scroll;
   
    background-size: 500px 300px;

}
div {
    background-color: violet;
    opacity: 0.3;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
p.one{
    border-style: dotted;
    border-radius: 5px;
    border-color: red;
}
p.two{
    border-style: dashed;
    border-width: 5px;
    padding: 10px;
    border-color: green;

}
p.three {
    border-style: solid;
    border-width: 2px,5px;
    padding: 5px;
    border-color: pink;
}