body{
    background-color: lightblue;
    align-items: center;
}
h1 {
    color: red;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    margin: auto;
    border: 10px;
    border-radius: 5px;
}