table
{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-collapse: collapse;
}

td
{
    color:blue;
    border: 1px solid blue;
    padding: 5px;
}
th
{
    color:blue;
    border: 1px solid blue;
    padding: 5px;
}