th:hover {
    border: 5px;
    border-radius: 1px;
    border-collapse: collapse;
    background-color: rgb(12, 45,20);
    padding: 5px;
    color: white;
    width: 30%;

}
td {
   
    border-radius: 1px;
    padding: 5px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
    size: 10px;
    text-align: center;
    border-spacing: 20px;
    

    





}
tr:nth-child(odd) {
    background-color: skyblue;

}
td:nth-child(odd) {
    background-color: orange;
}